.profile__info {
  display: flex;
  row-gap: 5px;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0 0 0 30px;
  padding: 22px 0 25px;
}

@media screen and (max-width: 753px) {
  .profile__info {
    align-items: center;
    row-gap: 3px;
    padding-bottom: 36px;
    margin-left: 0;
  }
}
