.element__delete-card_type_active {
  margin: 0;
  padding: 0;
  width: 18px;
  height: 19px;
  background-image: url(../../../../images/trash-button.svg);
  border: none;
  background-color: transparent;
  opacity: 1;
  transition: all 0.5s ease-out;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}

.element__delete-card_type_active:hover {
  opacity: 0.6;
  cursor: pointer;
}
