.info__part {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-end;
  box-sizing: border-box;
}

@media screen and (max-width: 753px) {
  .info__part {
    padding: 0 19px 0 46px;
  }
}
